:root {
  --color1: #586ba4ff;
  --color2: #324376ff;
  --color3: #f5dd90ff;
  --color4: #f68e5fff;
  --color5: #f76c5eff;
}

* {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 1.6rem;
}

.card-container {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--atomic-tangerine);
}

.card-box {
  height: 40vh;
  width: 70%;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.card-grid {
  width: 50%;
}
