:root {
  --color1: #586ba4ff;
  --color2: #324376ff;
  --color3: #f5dd90ff;
  --color4: #f68e5fff;
  --color5: #f76c5eff;
}

* {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.App {
  text-align: center;
}

html {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.dashboard {
  height: 100vh;
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--atomic-tangerine);
}

.welcome-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.dash-welcome {
  position: absolute;
  color: white;
  font-size: 3rem;
}

.card-container {
  height: 100vh;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: var(--atomic-tangerine);
}

.card-box {
  height: 350px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 10px;
}

.card-grid {
  width: 50%;
  height: 50%;
  border: 1px solid black;
}

.card-emoji {
  font-size: 2.5rem;
  padding: 8px 8px 0px 8px;
}

.card-caption {
  margin-top: 8px;
  font-size: 0.8rem;
}
